@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
		rgb(var(--background-start-rgb));
}

::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: lightgrey;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.cont *,
.cont {
	transition: all 0.3s;
}

.cont:has(input:focus) {
	width: 36%;
}

.cont:has(ul > li, ul > span) input {
	border-bottom-color: transparent;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.cont ul {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.cont ul li span {
	opacity: 0.5;
}
